[submodule "backend"]
	path = backend
	url = https://github.com/lhlin/lnq-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/lhlin/lnq-frontend.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/lhlin/lnq-mobile.git
