[submodule "backend"]
    path = backend
    url = https://github.com/aspectxlol/lnq-backend.git
    branch = main
[submodule "frontend"]
    path = frontend
    url = https://github.com/aspectxlol/lnq-frontend.git
    branch = main
[submodule "mobile"]
    path = mobile
    url = https://github.com/aspectxlol/lnq-mobile.git
    branch = main
